.aboutSection {
  max-width: 55vw;

  margin: auto;

  padding-block-start: 20px;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.aboutSection > div > p {
  margin-block-start: 10px;
}

.aboutSection ul {
  margin-block-start: 10px;
  margin-inline-start: 30px;
}

.center {
  text-align: center;
}
