.blogPostDetail {
  text-align: left;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: fit-content;

  padding-block: 2vmin;
}

.blogPostDetail > h2 {
  margin-block: 20px;
}

.blogPostDetail > .p {
  padding-block-start: 5vmin;
  padding-inline: 17vw;
}
