.contactSection {
  display: grid;
  place-items: center;

  padding-block-start: 50px;
  padding-inline: 30px;
}

.contactSection > form {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding-block-start: 50px;
}

.contactSection > form > input,
.contactSection > form > textarea {
  width: max(50vw, 250px);

  padding-block: 10px;
  padding-inline: 10px;

  background-color: white;

  color: black;

  border-radius: 5px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;

  border: 2px solid gray;
  outline: none;
}

.submitButton {
  background-color: antiquewhite;
  color: red;
  cursor: pointer;
}
